wheel
bertopic
fastapi[all]
Django
numpy
pandas
sentence-transformers
qdrant-client
arxiv
python-dotenv
nltk
SQLAlchemy
pymongo
beautifulsoup4
mlflow
openai
passlib
python-jose
gensim
bertopic[spacy]
nbformat
django-tailwind
django-tailwind[reload]

