{% extends "base.html" %}

{% block title %}AI Chatbot{% endblock title %}

{% block content %}
<div id="container">
    <div id="chatbox">
        {% for message in messages %}
        <div>User: {{ message.user_message }}</div>
        <div>Bot: {{ message.bot_message }}</div>
        {% endfor %}
    </div>

    <form hx-post="{% url 'chat_view' %}" hx-target="#container" hx-swap="innerHTML" >
        {% csrf_token %}
        <div class="my-indicator"></div>
        <div class="input-fields">
            <input type="text" name="question">
            <button type="submit">
                Send
            </button>
        </div>
    </form>
</div>
{% endblock content %}