{% load tailwind_tags %}
{% load filter %}
{% tailwind_css %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>    
        
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css"  rel="stylesheet" />
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body class="bg-teal-600">
        <nav class="flex items-center justify-between px-4 py-6 bg-teal-800">
            <div>
                {% if  request.user.is_authenticated == False %}
                <a href="/" class="text-xl text-white">Djangochat</a>
                {% else %}
                <a href="/chat/" class="text-xl text-white">Chat</a>
                <a href="/topic/" class="text-xl text-white">Topic</a>
                <a href="/topic_over_time/" class="text-xl text-white">Topic over time</a>
                <a href="/clustering/" class="text-xl text-white">Clustering</a>
                {% endif %}
            </div>

            <div class="flex items-center space-x-4">
                {% if request.user.is_authenticated %}
                    <a href="/auth/logout/" class="text-white hover:text-gray-200">Log out</a>
                {% else %}
                    <a href="/auth/login/" class="text-white hover:text-gray-200">Log in</a>
                    <a href="/auth/register/" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Sign up</a>
                {% endif %}
           
            </div>
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>