{% extends "base.html" %}

{% block title %}AI Chatbot{% endblock title %}

{% block content %}
<div class="p-6 w-[800px]" id="container">
    <div class="mt-4 w-full relative p-6 overflow-y-auto h-[30rem] bg-gray-50 border border-gray-200"
         id="chatbox">
        {% for message in messages %}
        <div class="mt-4">User: {{ message.user_message }}</div>
        <div class="mt-4">Bot: {{ message.bot_message }}</div>
        <div class="rating">
            <!-- Thumbs up -->
            <div class="like grow inline-block">
                <button class= type="button" id="likeButton{{ forloop.counter }}">
                    <i class="fa fa-thumbs-up like" aria-hidden="true"></i>
                </button>
            </div>
            <!-- Thumbs down -->
            <div class="dislike grow inline-block">
                <button type="button" id="dislikeButton{{ forloop.counter }}">
                    <i class="fa fa-thumbs-down like inline-block" aria-hidden="true"></i>
                </button>
            </div>
          </div>
        <div class="mt-4">Score: {{ message.rag_score }}</div>
        {% endfor %}
    </div>

    <form hx-post="{% url 'chat' %}" hx-target="#container" hx-swap="innerHTML" >
        {% csrf_token %}
        <div class="my-indicator"></div>
        <div class="mt-4">
            <input class="py-2 outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:border-blue-500"
                   type="text" 
                   name="question">
            <button class="px-5 py-3 rounded-xl text-white bg-teal-800 hover:bg-teal-700" 
                    type="submit">
                Send
            </button>
        </div>
    </form>
    {% if request.method == 'POST' %}
        <div class="docs grid grid-cols-3 gap-4">
            {% for image in images %}
                <a href="{{ image.0 }}" target="_blank">
                    <img src="data:image/png;base64, {{ image.2 }}" title="{{ image.1 }}" alt="doc image">
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>
<script>
    let dislikeButton = document
</script>
{% endblock content %}